.container {
  height: 100%;
}

.orderbook {
  margin: 0 auto;
  width: 95%;
  height: calc(100% - 100px);
}

.orderbook-status {
  margin-top: 10px;
}

.orderbook-loading {
  font-size: 12px;
}

.orderbook-error {
  color: crimson;
  font-size: 12px;
}

.orderbook-header {
  padding: 10px 20px 30px 20px;
  width: 100%;
  border-bottom: 1px solid rgb(256, 256, 256, 0.8);
}

.orderbook-header-left {
  width: 33%;
  float: left;
  text-align: left;
  font-size: 18px;
}

.orderbook-header-center {
  width: 33%;
  float: left;
  font-size: 14px;
  color: rgb(256, 256, 256, 0.8)
}

.orderbook-header-right {
  width: 34%;
  float: left;
  text-align: right;
  font-size: 14px;
  color: rgb(256, 256, 256, 0.8)
}

.lists {
  width: 100%;
  float: left;
  height: 100%;
}

.order-list {
  padding: 0px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  height: 100%;
}

.order-list-container {
  margin: 0px;
  padding: 10px 20px 10px 0px;
  height: 100%;
  overflow-y: auto;
}

.order-list-header {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.price-row {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

[class*="col-"] {
  float: left;
}

.col-1 { width: 50% }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

[class*="order-col-"] {
  text-align: right;
}

.order-col-1 { width: 33% }
.order-col-2 { width: 34% }

.orderbook-bottom {
  margin: 10px;
}

.feed-toggle {
  height: 30px;
  font-size: 16px;
  padding: 0px 20px;
  background-color:darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 40px;
  background: #fff;
  color: #444;
}

.modal-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-button {
  margin-top: 20px;
}

.reconnect-button {
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}