.orderbook {
  margin: 0 auto;
  width: 95%;
}

.orderbook-loading {
  font-size: 12px;
}

.orderbook-error {
  color: crimson;
  font-size: 12px;
}

.orderbook-header {
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
}

.orderbook-header-left {
  width: 33%;
  float: left;
  text-align: left;
  font-size: 18px;
}

.orderbook-header-center {
  width: 33%;
  float: left;
  font-size: 14px;
  color: rgb(256, 256, 256, 0.8)
}

.orderbook-header-right {
  width: 34%;
  float: left;
  text-align: right;
  font-size: 14px;
  color: rgb(256, 256, 256, 0.8)
}

.lists {
  width: 100%;
  float: left;
}

.order-list {
  padding: 0px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.order-list-container {
  border: 1px solid #ccc;
  margin: 0px;
  padding: 10px 20px 10px 0px;
  height: 100%;
  overflow-y: auto;
}

.order-list-header {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.price-row {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

[class*="col-"] {
  float: left;
}

.col-1 { width: 50% }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

[class*="order-col-"] {
  text-align: right;
}

.order-col-1 { width: 33% }
.order-col-2 { width: 34% }