.orderbook {
  margin: 0 auto;
  width: 95%;
}

.orderbook-loading {
  font-size: 12px;
}

.orderbook-error {
  color: crimson;
  font-size: 12px;
}

.orderbook-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.lists {
  width: 100%;
}

.order-list {
  padding: 5px;
}

.order-list-container {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px 20px 10px 0px;
  height: 100%;
  overflow-y: auto;
}

.order-list-header {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.price-row {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

[class*="col-"] {
  float: left;
}

.col-1 { width: 50% }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

[class*="order-col-"] {
  text-align: right;
}

.order-col-1 { width: 33% }
.order-col-2 { width: 34% }